*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-family: Tahoma;
  font-size: 62.5%;
}


.content {
  display: block;
  background-color: #fff;
  width: 80%;
  margin-left: 10%;

  &__img {
    width: 35%;

    img {
      margin-top: 1rem;
      left: calc(10% + 1rem);
      height: 17.5vw;
      width: 17.5vw;
    }
  }

  &__data {
    margin-left: calc(20vw + 1rem);
    padding-left: 2rem;
    padding-top: 2rem;

    &_description {
      padding: 3rem 0;
      font-size: 1.4rem;
      line-height: 1.8rem;
      word-spacing: .4rem;
    }

    &_property {
      font-weight: 900;
      font-size: 1.4rem;
      display: inline-block;
    }

    &_field {
      margin-left: 2rem;
      display: inline-block;
      font-size: 1.4rem;
    }
  }
}

.row {
  font-size: 1.6rem;
  padding: 1rem;
  width: calc(100% - 2rem)
}

.row20 {
  vertical-align: middle;
  display: inline-block;
  width: 17.5%;
}

.row80 {
  vertical-align: middle;
  display: inline-block;
  width: 75%;
}

img {
  position: absolute;
  top: 15vh;
  z-index: 1;
  width: 5vw;
  left: 5vw;
}

.btn {
  height: 5vh;
  width: 5rem;
  padding: .5rem 1rem;
  border: 1px solid black;
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;

  p {
    display: inline;
    height: inherit;
    vertical-align: middle;
  }

  &__key {
    height: calc(5vh + 2px);
    padding: .5rem 1rem;
    font-size: 1.6rem;
  }
}

.app {
 &__headline {
   margin-left: 10%;
   width: calc(80% - 2rem);
   padding: 1rem;
   height: 12vh;
   display: flex;
   justify-content: space-between;
 }
}

.logo {
  width: 10vw;
  height: 10vh;
  position: absolute;
  left: 85vw;
  top: 85vh;
}